.logo{
    margin:30px auto;
    width:230px;
    height:250px;
    background: url("../image/logo.png") no-repeat;
}
.menu{
    padding:10px 10px 10px 10px;
    height: 30px;
    margin-bottom:20px;
}
.menu div{
}
.group-image{
    float:left;
    background: url("../image/group.png")no-repeat;
    height:30px;
    width:30px;
    background-size: cover;
}
.count{
    margin-top:5px;
    margin-left:10px;
    float:left;
    color:#ADADAD;
}
.members{
    width:35%;
    float:left;
}

.language li{
    display:inline-block;
    margin-right:5px;
    margin-left:5px;
}
.language li.active{
    color:#F6C350;
}
.nav span{
    font-size:16px;
    color:#E9E9E9;
}
.language{
    margin:5px auto;
    float:left;
    list-style:none;
}
.about-button{
    width:25%;
    color:white;
    height: 30px;
    background: #F6C350;
    float: right;
    border:none;
}
.remind,
.login,
.logon{
    background: #F9F9F9;
    padding: 20px 0px 0px 0px;
    height: 240px;
}
.remind-button,.password-input,
.login-button,
.email-input,.logon-button, .policy{
    box-sizing: border-box;
    height:40px;
    padding:5px;
    width:290px;
}
.password-input,
.email-input{
    padding-left:15px;
    background:#F9F9F9;
    border: 1px solid #E9E9E9;
}
.policy{
     text-align:center;
     color:#C1C1C1;
 }
.policy:hover, .forgot-password:hover{
    color:#6a6a6a;
}
.forgot-password{
    text-align:right;
    color:#C1C1C1;
}
.remind div,
.login div,
.logon div{
    width:290px;
    margin:10px auto 20px auto;
}
.remind-button,
.logon-button,
.login-button{
    background: #3C3C3C;
    color:white;
    border:none;
}
.remind-button:hover,
.logon-button:hover,
.login-button:hover{
    background: #1b1b1b;
}

.content{
    width:100%;
    font-size:14px;
}
.nav{
    margin: 20px 0px 10px 120px ;
}
.language, .nav{
    text-transform: uppercase;
    list-style:none;
}

.language li,
.nav li{
    font-size:15px;
    display:inline-block;
    color:#D5D5D5;
}
.nav li{
    background: url("../image/underline.png")center 20px no-repeat;
    height: 35px;
}

.language li.active,
.nav li.active{
    color:#F6C350;
}
.nav li.active{
    background: url("../image/underline-active.png")center 20px no-repeat;
}

.nav li:hover,
.language li:hover{
    color:#F6C350;
}
.nav li:hover{
    background: url("../image/underline-active.png")center 20px no-repeat;
}
