
.content{
    width:230px;
    margin-right: auto;
    margin-left: auto;
    font-size:0px;
}

.main{
    border:1px solid #C0C0C0;
    width:600px;
    margin: 0 auto;
}

.menu-image{
    float: left;
    background: url("../image/menu.png")no-repeat;
    height:30px;
    width:30px;
    background-size: cover;
    box-sizing: border-box;
}
.group-image{
    float:right;
    background: url("../image/group.png")no-repeat;
    height:30px;
    width:30px;
    background-size: cover;
    box-sizing: border-box;
}
.count{
    float:right;
    color:#ADADAD;
}
.header{
    text-align:center;
    margin:auto;
}

.title{
    margin-bottom: 15px;
    text-transform: uppercase;
    text-align:center;
    font-size:30px;
    color:#7E7E7E;

}
ul{
    text-transform: uppercase;
    list-style:none;
}
ul li{
    font-size:15px;
    display:inline-block;
    color:#D5D5D5;
// border-bottom:2px solid #D5D5D5;
}
ul li.active{
    color:#F6C350;
// border-bottom:2px solid #F6C350;
}
li.active span{
    display:inline-block;
    width:100%;
    height:10px;
    background: url("../image/active-nav.png")no-repeat -25px 0px;

}
li span{
    font-size:15px;
    display:inline-block;
    width:200%;
    height:10px;
    background: url("../image/notactive-nav.png")no-repeat 0px 0px ;
}

