
.content{
    width:230px;
    margin-right: auto;
    margin-left: auto;
    font-size:0px;
}

.main{
    border:1px solid #C0C0C0;
    width:600px;
    margin: 0 auto;
}
.menu{
    padding:10px 10px 10px 10px;
    height: 30px;
    border-bottom:1px solid #C0C0C0;
    margin-bottom:20px;
}
.menu-image{
    float: left;
    background: url("../image/menu.png")no-repeat;
    height:30px;
    width:30px;
    background-size: cover;
    box-sizing: border-box;
}
.group-image{
    float:right;
    background: url("../image/group.png")no-repeat;
    height:30px;
    width:30px;
    background-size: cover;
    box-sizing: border-box;
}
.count{
    float:right;
    color:#ADADAD;
}
.header{
    text-align:center;
    margin:auto;
}

.title{
    margin-bottom: 15px;
    text-transform: uppercase;
    text-align:center;
    font-size:30px;
    color:#7E7E7E;

}

